{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>Edit Product</h1>

    {{ include('product/_form.html.twig', {'form': form}) }}
{% endblock %}